<!DOCTYPE html>
<html>
<head>
    <title> Nutripal </title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../static/bootstrap.min.css">
    <link rel="stylesheet" href="../static/bootstrap-theme.min.css">
    <link rel="stylesheet" href="../static/style.css">   
</head>
<body>
	<div>
		<h3 class = "helvetica"> History based recommendations</h3>
		<table>
            <tr>
                <th> 
                    <ul>
                        <li>{{item1}}</li>
                        <li>{{item2}}</li>
                        <li>{{item3}}</li>
                        <li>{{item4}}</li>
                        <li>{{item5}}</li>
                    </ul>    
                </th>
            </tr>
        </table>
        <h3 class = "helvetica"> User History</h3>
		<table>
            <tr>
                <th> 
                    <ul>
                        <li>{{h1}}</li>
                        <li>{{h2}}</li>
                        <li>{{h3}}</li>
                    </ul>    
                </th>
            </tr>
        </table>
	</div>

</body>

</html>